p{
	width:950px;
	/*width:70%;*/
	text-align: justify;
}



body{
	background-color: rgb(245, 243, 243);
	/*background-color: rgb(0, 0, 0);*/
}

body,h2,p{
	margin:auto;
margin-bottom: 20px;
color: #665544;
font-family: Arial, Verdana, sans-serif;
line-height: 40px;


}

h1{
	margin-bottom: 30px;
	text-align: center;

}


h2{
	margin-left: 210px;
	margin-top: 40px;
	margin-bottom: 40px;
}


#navi{
	width:100%;
	margin-bottom: 50px;
}

#navi ul li{
	list-style: none;
	display: inline;
	margin-left: 191px;
margin-right: 115px;
	padding-left: 6px;
	font-size: 20px;
	margin-top: 200px;
}


#back-navi{
position:fixed;

bottom:0;
left:0;
}

#back-navi a:hover{
color:rgb(212, 92, 92)
}

#back-navi a{
text-decoration:none;
color: #6496C8;
font-family: "Quattrocento",serif;
font-size: 16px;
}