#menu-bar-right{
	width:100px;
	height:100px;
	position: absolute;
	top:150px;
	right:17%;
	
}


#menu-bar-left{
	width:100px;
	height:100px;
	position: absolute;
	top:150px;
	/*left:180px;*/
	left:15%;

	
	
}
